.accessory {
  h3 {
    color: $brand-primary;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
  }
  
  img {
    width: 100%;
    padding: 30px;
    border: 1px solid $gray-light;
    color: red;
    margin-bottom: 12px;
  }
  
  .prices > li {
    margin-bottom: 6px;
  }
}
