@import "lib/bootstrap-sass/bootstrap/variables";

#conceptual-3-module{
  .conceptual-background{
    height: 140px;
    position: relative;
  }
  
  h1{
    color: #333;
    font-size: 1.0em;
    font-weight: 400;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
    small{
      color: #000;
      font-size: 1.3em;
      font-weight: 700;
    }
    .big{
      color: $brand-primary;
      font-size: 3.3em;
      font-weight: 700;
    }
  }
}

@media (min-width: $screen-xs-min) {
  
  #conceptual-3-module{
    h1{
      text-align: center;
    }
  }
  
}

@media (min-width: $screen-sm-min) {

  #conceptual-3-module{
    .conceptual-background{
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 267px;
      position: relative;
    }
  
    .title{
      display: block;
      width: auto;
    }

    h1{
      width: 50%;
      text-align: left;
    }
  }
  
}

@media (min-width: $screen-md-min){
  
  #conceptual-3-module{
    h1{
      font-size: 1.3em;
      margin: 65px 0;
    }
  }
  
}

@media (min-width: $screen-lg-min){
  
  #conceptual-3-module{
    h1{
      font-size: 1.7em;
      margin: 58px 0;
    }
  }
  
}