#footer-module{
  
  a:focus,
  a:hover{
    text-decoration: none;
    cursor: pointer;
  }
  
  .footer-brand{
    display: block;
  }
  
  nav{
    border-top: 1px solid #ededed;
    margin: 0 0 0 0;
    overflow: hidden;
    padding: 35px 10px;
  }
  
  .sitemap{
    margin: 30px 0 0 0;
    
    li{
      font-weight: 700;
      margin: 10px 0;
    }
    
  }
  
  .fix-address{
    border-bottom: 1px solid #ededed;
    margin: 0 0 40px 0;
    .tab-content{
      overflow: hidden;
      .tab-pane{
        display: block;
        background-color: #f3f3f3 !important;
        margin: 0 0 40px 0;
        overflow: hidden;
        padding: 35px 40px;
        
        li{
          margin: 15px 0;
        }
        
        h3{
          color: $brand-primary;
          font-weight: 700;
          margin-top: 0;
        }
        
        address, a{
          font-size: 0.929em;
          margin: 0;
        }
      }
    }
  }
  
  .store-address{
    overflow: hidden;
    
    .tab-content{
      min-height: auto;
      overflow: hidden;
      
      div.tab-pane{
        background-color: #f3f3f3 !important;
        margin: 0 0 30px 0;
        overflow: hidden;
        padding: 35px 40px;
        /* height: auto !important; */
      
        li{
          margin: 15px 0;
        }
        
        h3{
          color: $brand-primary;
          font-weight: 700;
          margin-top: 0;
        }
        
        address, a{
          font-size: 0.929em;
          margin: 0;
        }
        
        &:not(.active) {
          display: none;
        }
      }
    }
    
    .item-maker{
      display: block;
      height: 60px;
      line-height: 57px;
      position: relative;
      vertical-align: middle;
      width: 200px;
      
      .wrap-logo, .maker-name{
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
      }
      
      span{
        display: block;
        font-size: 0.857em;
      }
      
      .maker-chevron{
        line-height: normal;
        margin-top: -10px;
        position: absolute;
        left: 175px;
        top: 50%;
      }
      
      a{
        display: block;
      }
      
    }
    
    .item-maker .aberto:before{
      border-color: #f3f3f3 transparent;
      border-style: solid;
      border-width: 20px 20px 0px 20px;
      content: "";
      display: block;
      height: 0;
      left: 55px;
      padding: 0;
      position: absolute;
      top: -31px;
      width: 0;
      -webkit-transition: 1s linear;
      -moz-transition: 1s linear;
      -o-transition: 1s linear;
      -ms-transition: 1s linear;
      transition: 1s linear;
    }
    
    .item-maker .aberto .maker-chevron i{
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    
    .item-maker.active .maker-chevron i{
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
    
    .makers-list{
      display: none;
    }
    
  }
  
  .copyright{
    font-weight: 700;
    padding: 20px 0 35px;
  }
  
}


@media (min-width: $screen-xs-min) {
  
  #footer-module{
    
    .footer-brand, .sitemap{
      text-align: center;
    }
    
    .sitemap li{
      margin: 20px 0;
    }
    
    .store-address{
      .item-maker{
        margin: 0 auto;
      }
      
      .item-maker .aberto:before{
        left: 50%;
        margin-left: -10px;
      }
      
    }
    
    .copyright{
      text-align: center;
    }
  }
  
}

@media (min-width: $screen-sm-min) {
  
  #footer-module {
    
    .sitemap{
      overflow: hidden;
      li{
        float: left;
        margin: 10px 0;
        padding: 0 5px;
      }
      
    }
    
    .store-address {
      
      .tab-content > .active{
        display: block !important;
      }
      
      .item-mobile{
        display: none;
      }
      
      .makers-list{
        display: block;
        
        .item-maker{
          width: calc(100% / 6 - 18px);
        }
        
        .item-maker.active:before{
          border-color: #f3f3f3 transparent;
          border-style: solid;
          border-width: 20px 20px 0px 20px;
          content: "";
          display: block;
          height: 0;
          left: 55px;
          padding: 0;
          position: absolute;
          top: -31px;
          width: 0;
          -webkit-transition: 1s linear;
          -moz-transition: 1s linear;
          -o-transition: 1s linear;
          -ms-transition: 1s linear;
          transition: 1s linear;
        }
        
        .maker-name{
          display: none;
        }
        
        .maker-chevron{
          left: 85px;
        }
        
        .align-chevron-jeep .maker-chevron{
          left: 175px;
        }
        
      }
    }
    
    .copyright{
      text-align: left;
    }
    
  }
  
}

@media (min-width: $screen-md-min) {
  
  #footer-module {
    
    .footer-brand{
      float: left;
    }
    
    nav{
      padding: 40px 0;
    }
    
    .sitemap{
      float: right;
      margin: 0;

      li{
        float: left;
        font-weight: 700;
        margin: 0;
        padding: 15px 6px;
      }

    }
    
    .store-address {
      
      .makers-list{
        .item-maker{
          width: calc(100% / 6 - 10px);
        }
        
        .maker-name{
          display: inline-block;
        }
        
        .maker-chevron{
          left: 125px;
        }
        
        .align-chevron .maker-chevron{
          left: 145px;
        }
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  
  #footer-module {
    
    .sitemap{
      li{
        padding: 15px;
      }

    }
    
    .store-address {
      .makers-list{
        .item-maker{
          width: calc(100% / 6 - 5px);
        }
        .maker-chevron{
          display: block;
          left: inherit;
          right: 15px;
        }
        
        .align-chevron-jeep .maker-chevron{
          right: -15px;
        }
      }
    }
  }
  
}