select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.highlight-form {
  background-color: #fff;
  
  h2 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin: 0 0 14px 0;
  }
  
  [type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 20px auto;
  }

  textarea {
    min-height: 60px;
    resize: vertical;
  }
  
//  &::after {
//    content: '';
//    position: absolute;
//    left: 0px;
//    bottom: 0px;
//    width: 100%;
//    height: 80px;
//    background-color: #f3f3f3;
//  }
  
  @media (min-width: $screen-lg-min) {
    background-color: #fff;
    padding: 30px 30px 0px 30px;
    border-radius: 4px;
    box-shadow: 0px 3px 46px 0px rgba(0, 0, 0, 0.32);
    
  }
}

.form-group {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 5px;

  label {
    font-size: 0.8em;
    margin-left: 15px;
    font-weight: normal;
    text-transform: uppercase;
    color: $gray;
  }
}

.form-control{
  box-shadow: none;
}

.btn{
  border: 0;
  border-radius: 19px;
  font-size: 0.786em;
  font-weight: 700;
  text-transform: uppercase;
}

.icon-container{
  position: relative;
  
  .form-control{
    padding: 6px 6px 6px 35px;
  }
  
  i {
    color: #aaa;
    font-size: 12px;
    left: 16px;
    position: absolute;
    bottom: 14px;
  }
  
  // considera o espacamento da coluna (15px) para alinhar o icone
  &.col-lg-4 i {
    left: 31px;
  }
}

::-webkit-input-placeholder {
  color: #4b4b4b!important;
  font-size: 0.786em;
  font-weight: 700;
}
:-moz-placeholder { /* Firefox 18- */
  color: #4b4b4b!important;
  font-size: 0.786em;
  font-weight: 700;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: #4b4b4b!important;
  font-size: 0.786em;
  font-weight: 700;
}
:-ms-input-placeholder {
  color: #4b4b4b!important;
  font-size: 0.786em;
  font-weight: 700;
}

.dealers-form {
  background-color: $brand-primary;
}
