#promo-carousel-module{
  background-color: #171614;
  background-image: url(../images/promo-fundo.png);
  background-position: center center;
  background-repeat: no-repeat;
  padding: 40px 0 60px;
  
  h2{
    color: #ffffff;
    font-size: 1.929em;
    font-weight: 700;
    margin: 0 0 40px 0;
    text-align: center;
  }
  
  .slick{
    margin: 0;
  }
  
  .promo-car{
    border-radius: 5px;
    
    img{
      width: 100%;
      
    }
    
    &:hover, &:focus {
      outline: none;
    }
    
    &:hover a, &:focus a{
      background: $brand-primary;
      color: #fff;
      text-decoration: none;
      -webkit-transition: all .4s linear;
      -moz-transition: all .4s linear;
      -ms-transition: all .4s linear;
      -o-transition: all .4s linear;
      transition: all .4s linear;
    }
  }
  
  .promo-info{
    background-color: #fff;
    padding: 15px 20px;
    text-align: center;
    
    span{
      color: #848484;
      font-size: 0.786em;
      font-weight: 700;
    }
    
    p{
      color: #202020;
      font-weight: 700;
    }
    
    b{
      color: $brand-primary;
      font-weight: 700;
    }
  }
  
  a{
    background-color: #f1f1f1;
    border-radius: 0 0 5px 5px;
    color: $brand-primary;
    display: block;
    font-size: 0.786em;
    font-weight: 700;
    padding: 15px 10px;
    text-align: center;
    text-transform: uppercase;
  }
  
}

@media (min-width: $screen-md-min){
  
  #promo-carousel-module{
    padding: 40px 0 225px;
    margin-bottom: -200px;
    
    
  }
  
}