<div id="about-content-module">
  <div class="">
    <div class="sobre row">
      <div class="col-xs-12">
        <h2>
          <small>Sobre a</small>
          <span class="big">Intervia Kia</span>
        </h2>
        <div class="conteudo">
          <p>Somos a Intervia, a primeira revendedora Kia em Recife e uma das maiores da região. Com mais de 8 anos de experiência, contamos com uma loja na Imbiribeira e seguimos os elevados padrões de qualidade e tecnologia de uma das montadoras de veículos de passeio e utilitários que mais cresce no Brasil: a Kia. Tudo isso para oferecer atendimento de excêlencia e sempre as melhores vantagens para os nossos clientes.</p>
        </div>
      </div>
    </div>
  </div>
</div>