<div class="accessory">
  <h3>{{ p.name }}</h3>
  <img src="../../src/images/acessorio.png" alt="{{ p.name }}" class="img-responsive">
  <ul class="prices">
    <li>R$ 4.100,00 - (New Picanto)</li>
    <li>R$ 4.200,00 - (New Cerato)</li>
    <li>R$ 4.200,00 - (New Sportage)</li>
    <li>R$ 4.200,00 - (Sorento)</li>
  </ul>
</div>