<div id="acessories-structure-module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% include 'conceptual-2.html' %}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% set showHours = true %}
        {% include 'parts-acessories-form.html' %}
      </div>
    </div>
    <div class="row">
      <h2 class="col-xs-12">
        Confira nosso<br>
        <span class="big">preços</span>
      </h2>
      <div class="col-xs-12">
        <p>A Intervia Kia garante um serviço com um alto padrão de qualidade e variedade. Isso porque possui um estoque de peças e acessórios com mais de 1.600 itens disponíveis. As peças originais Kia são testadas e aprovadas pela montadora e, se compradas no balcão, possuem garantia de 90 dias. Assim fica fácil decidir onde comprar as peças e acessórios que vão reparar ou equipar o seu Kia.</p>
        <p>
          Para a sua maior comodidade, entre em contato com os nossos consultores:<br>
          <a href="tel:">81 – 33225578 /5579</a> ou <a href="tel:">81 – 92979637</a>.
        </p>
      </div>
      <div class="col-xs-12">
        <ul class="row">
          {% for p in produtos %}
          <li class="col-xs-12 col-md-4 col-lg-3">
            {% include 'accessory.html' %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>