<div id="conceptual-module">
  <div class="">
    <div class="conceptual-background" {% if not mobile %} style="background-image: url(../assets/images/{{ img }})" {% endif %}>
      <div class="title">
        <h1>{{ title }}</h1>
      </div>
    </div>
  </div>
</div>