<div class="box info-box-3">
  <div class="top-content col-xs-12 col-sm-5 col-md-5 col-lg-6">
    <div class="wrap-icon">
      <i class="rw rw-hour-cogs"></i>
    </div>
    <div class="title"> 
      <h3>Horário de Funcionamento das Oficinas</h3>
    </div>
  </div>
  <div class="hours col-xs-12 col-sm-7 col-md-7 col-lg-6">
    <b>Segunda a sexta</b> 7:30h às 18:00h <br> <b>Sábado</b> 8:00h às 12:00h
  </div>
</div>