<div class="box info-box">
  <div class="top-content col-xs-12 col-sm-5 col-md-5 col-lg-6">
    <div class="wrap-icon">
      <i class="rw rw-hour"></i>
    </div>
    <div class="title">
      Horário de Funcionamento de Vendas e Pós Vendas
    </div>
  </div>
  <div class="hours col-xs-12 col-sm-7 col-md-7 col-lg-6">
    <b>Segunda a sexta</b> 08h às 18h<br> <b>Sábado</b> 08h às 12h
  </div>
</div>