<div class="box info-box-2">
  <div class="top-content col-xs-12 col-sm-5 col-md-5 col-lg-6">
    <div class="wrap-icon">
      <i class="rw rw-hour"></i>
    </div>
    <div class="title">
      <h3>Horário de Funcionamento</h3>
    </div>
  </div>
  <div class="hours col-xs-12 col-sm-7 col-md-7 col-lg-6">
    <div class="unidade">
      <b>Segunda a sexta</b> 08:00h às 18:00h<br><b>Sábado</b> 08h às 14h
      {% if showPhone %}
      <br>
      <b>(81) 3225-8325</b>
      {% endif %}
    </div>
  </div>
</div>