<map name="location">
  {% set latitude = 0 %}
  {% set longitude = 0 %}
  <a href="https://www.google.com.br/maps/place/{{ latitude }},{{ longitude }}">
    <img src="https://maps.googleapis.com/maps/api/staticmap?center={{ latitude }},{{ longitude }}&zoom=13&size=640x176&markers=size:mid%7Ccolor:red%7C{{ latitude }},{{ longitude }}&key=" alt="" id="">
  </a>
</map>
