<div id="promo-carousel-module">
  <div class="container">
    <h2>Ofertas Especiais</h2>
    <div class="slick-promo">
      {% for car in 0..5 %}
      <div class="promo-car col-xs-12">
        <img src="../../src/images/promo-car.png" alt="">
        <div class="promo-info">
          <span>2012/2102</span>
          <p>Lorem ipsum dolor sit amet, onsectetur adipiscing elit.</p>
          <b>R$ 126.990</b>
        </div>
        <a href="">Ver Oferta</a>
      </div>
      {% endfor %}
  </div>
</div>