<div class="promo-car-2-module">
  <div class="">
    <div class="promo-car">
      <h2> Kia Cerato Hatch SE 1.6</h2>
      <b>2016 | 4 Portas | Completo</b>
      <img class="img-responsive" src="../../src/images/promo-car-2.png" alt="">
      <div class="promo-info">
        <div>
          <span>Entrada</span> + 48x 390.00/mês
        </div>
        <a href="" class="btn btn-default">Quero Este Carro</a>
      </div>
      <span class="validity">Oferta válida até 24/05/2016</span>
    </div>
  </div>
</div>