<div id="schedule-module" class="schedule-granvia container">
  <div class="schedule">
    <h2>Imbiribeira</h2>
    <h3>Agendamento de Serviços</h3>
    <p>Segunda a sexta: <time>7:30h</time> às <time>18:00h</time>  -  Sábado: <time>8:00h</time> às <time>12:00h</time></p>
    <h3>Vendas e Pós Vendas</h3>
    <p>Segunda a sexta: <time>7:30h</time> às <time>18:00h</time>  -  Sábado: <time>8:00h</time> às <time>12:00h</time></p>
  </div>
</div>