<div class="workshop-info">
  <ul>
    <li class="active"><a data-toggle="tab" href="#garantia">Garantia</a></li>
    <li><a data-toggle="tab" href="#dicas">Dicas</a></li>
    <li><a data-toggle="tab" href="#revisao">Revisão</a></li>
  </ul>
  <div class="tab-content">
    <div id="garantia" class="tab-pane fade in active">
      <h3>Como Funciona a Garantia?</h3>
      <p>A Kia, por meio de Concessionárias Autorizadas, garante seu veículo novo contra defeitos de materiais e/ou de fabriação de peças, devidamente comprovados pela Concessionária Kia, sujeito aos termos e condições prescritos neste manual. Para solucionar qualquer problema coberto pela garantia, o Concessionário Kia deve realizar os reparos necessários, em seu estabelecimento, com utilização de pelças originais Kia. Os serviços devem ser realizados sem custo ao proprietário desde que seja reconhecido o defeito e observadas as condições normais de uso e manutenção do veículo.</p>
      <h3>Cobertura da Garantia</h3>
      <h4>a) Cobertura básica</h4>
      <p>O período de Cobertura Básica de garantia tem início a partir da data de venda do veículo ao primeiro proprietário e termina no momento da expiração do Período de garantia e/ou quando da ocorrência de fatores que excluem o veículo da garantia.</p>
      <h4>b) Período da garantia</h4>
      <p>O período de garantia é de trinta e seis (36) meses ou 100.000 km, prevalecendo o que primeiro ocorrer. Todo o veículo está coberto durante este período, exceto os itens especificados neste Manual como sendo de desgaste natural, itens não cobertos ou com cobertura diferenciada.</p>
      <h4>c) Garantia legal</h4>
      <p>No período descrito como garantia básica já está incluso o período de garantia legal (90 dias, conforme disposto no Art. 26, inciso II do Código de Defesa do Consumidor).</p>
      <h4>d) Defeitos</h4>
      <p>A garantia cobre qualquer reparo necessário durante o período de garantia, decorrente de defeitos de material e/ou de fabricação de peças e componentes ou equipamentos e acessórios que equipavam originalmente o veículo, bem como custos de mão de obra e/ou peças substituídas.</p>
      <h4>e) Corrosão(oxidação)</h4>
      <p>Qualquer painel metálico componente da carroceria do veículo, que possa comprometer a aparência externa do mesmo, está coberto contra corrosão e/ou oxidação pelo período de Cobertura Básica.</p>
      <h4>f) Peças de reposição Kia</h4>
      <p>Fora do período de garantia Básica, a garantia de peças de reposição originais Kia quanto a defeitos de fabricação é de noventa (90) dias e tem início na data de emissão da nota fiscal de venda, conforme disposto no Art. 26 inciso II do Código de Defesa do Consumidor. Para usufruir deste benefício, mantenha consigo as notas fiscais de opeças e serviços para comprovação das condições acima citadas. Não serão cobertos defeitos relacionados à montagem inadequada de componentes: portanto, as peças vendidas no balcão deverão ser vistoriadas pelo Concessionário após a instalação. <br>Nota: Em caso de instalação de uma peça de reposição dentro do período de Cobertura Básica, a pela instalada terá a mesma cobertura do período restante da garantia básica do veículo.</p>
    </div>
    <div id="dicas" class="tab-pane fade">
      <h3>Conteúdo Fictício</h3>
      <h4>Teste</h4>
      <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste.</p>
    </div>
    <div id="revisao" class="tab-pane fade">
      <h3>Conteúdo Fictício</h3>
      <h4>Teste</h4>
      <p>Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste.</p>
    </div>
  </div>
</div>