<div id="workshop-structure-module">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        {% include 'conceptual.html' %}
      </div>
      <div class="col-xs-12 col-lg-8">
        <h2>
          <small>Kia</small>
          <span class="big">Agendamento de Serviços</span>
        </h2>
        {% set showPhone = true %}
        {% include 'info-box-2.html' %}
        {% include 'info-box-3.html' %}
        {% include 'workshop-info.html' %}
      </div>
      <div class="col-xs-12 col-lg-4">
        {% include 'workshop-form.html' %}
      </div>
    </div>
  </div>
</div>