{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}

{% include 'shared/home-carousel.html' %}

{% include 'shared/car-carousel.html' %}

<section>
  {% include 'shared/promo-carousel.html' %}
</section>

<section>
  <div class="container">
      {% include 'shared/highlights.html' %}
  </div>
</section>

<section>
  {% include 'shared/newsletter.html' %}
</section>

{% include 'shared/load-css.html' with {'css': 'index.css'} %}
{% endblock %}
