{% extends 'layout.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">
      {% include 'shared/quote-form.html' %}
    </div>
  </div>
  <section>
    {% include 'shared/carousel-detail.html' %}
  </section>
  <section>
    {# include 'shared/technical-sheet.html' #}
  </section>
</div>
{% endblock %}
