{% extends 'layout.html' %}
{% block title %}{% endblock %}

{% block content %}
{% set title = '<small>Ofertas Kia</small> <br> <span class="big">Intervia</span> <br> Aproveite as Melhores ofertas <br> da Kia agora mesmo.' %}
{% set img = 'conceptual-ofertas.png' %}

{% include 'shared/offers-structure.html' %}

{% include 'shared/load-css.html' with {'css': 'offers.css'} %}
{% endblock %}