@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual-2";
@import "base/parts-acessories-form";
@import "base/form";
@import "base/interna-style";
@import "base/accessory";

#acessories-structure-module{
  padding: 30px 0;
  
  .info-box-2{
    .top-content{
      margin: 0 0 10px 0;
    }
    .title{
      margin: 0;
      h3{
        font-size: 1.1em;
        margin: 6px 0;
      }
    }
    .wrap-icon {
      margin: 0 10px 0 14px;
    }
    i{
      height: 32px;
      width: 34px;
    }
    .unidade{
      margin: 0 10px;
    }
  }
  
}

@media (min-width: $screen-sm-min){
  .info-box-2{
    .top-content{
      margin: 0;
      padding-top: 0;
    }
    .title{
      font-size: 1.25em;
    }
    .hours{
      font-size: 0.978em;
    }
  }
}

@media (min-width: $screen-md-min){
  .info-box-2{
    margin: 15px 0;
  }
}

@media (min-width: $screen-lg-min) {
  
  .info-box-2{
    height: 60px;
    
    .wrap-icon{
      margin: 3px 20px 0;
    }
    
    .title{
      line-height: 35px;
      margin: 0 20px;
    }
    
    .hours{
      padding: 0 15px;
    }
    
  }
  
}