@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/form";
@import "base/interna-style";

#consortium-structure-module{
  padding: 30px 0;
  .consortium-form{    
    .form-group label{
      color: #a3a3a3;
      font-size: 0.786em;
      margin-left: 18px;
      text-transform: uppercase;
    }
    .icon-container i{
      left: 33px;
      margin-top: 5.5px;
    }
    textarea{
      height: 118px;
      resize: vertical;
      width: 100%;
    }
    button{
      margin: 20px 0;
      padding: 10px 123px;
    }
  }
}