@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/info-box";
@import "base/form";
@import "base/interna-style";

#contact-structure-module{
  padding: 30px 0;
  .contact-form{
    .form-group label{
      color: #a3a3a3;
      font-size: 0.786em;
      margin-left: 18px;
      text-transform: uppercase;
    }
    .icon-container i{
      margin-top: 5.5px;
      left: 33px;
    }
    textarea{
      height: 118px;
    }
    button{
      margin: 20px 0;
      padding: 10px 123px;
    }
    
  }
  
  .info-box{
    i{
      height: 32px;
      width: 34px;
    }
    .title{
      margin: 0 0 10px 8px;
      width: 195px;
    }
  }
}

@media (min-width: $screen-sm-min){
  #contact-structure-module{
    .info-box{
      .top-content{
        padding-top: 2px;
      }
      .title{
        font-size: 0.9em;
        margin: 0 0 0 8px;
        width: 180px;
      }
      .hours{
        font-size: 0.978em;
      }
    }
  }
}

@media (min-width: $screen-md-min){
  #contact-structure-module{
    .info-box{
      margin: 15px 0;
      .top-content{
        padding-top: 2px;
      }
    }
  }
}

@media (min-width: $screen-lg-min){
  #contact-structure-module{
    .info-box{
      height: 60px;    
      .top-content{
        padding-top: 0;
      }

      .wrap-icon{
        margin: 3px 20px 0;
      }

      .title{
        font-size: 1.13em;
        line-height: 19px;
        margin: 0 20px;
        width: 215px;
      }

      .hours{
        padding: 0 15px;
      }

    }
  }
}