@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/form";
@import "base/interna-style";

#direct-structure-module{
  padding: 30px 0;
  
  .sale-type {
    border: none !important;
    
    > li {
      border-bottom: 1px solid $gray-light;
      
      &:first-child {
        border-top: 1px solid $gray-light;
      }
    }
  }
  
  .tabs .row{
    padding: 15px;
  }
  
  .tabs ul{
    border: 1px solid #ccc;
    overflow: hidden;
    li{
      float: left;
      text-align: center;
      width: calc(100% / 2);
      &.active{
        background-color: $brand-primary;
        a{
          color: #fff;
        }
      }
    }
    
    a{
      display: block;
      padding: 10px 5px;
      &:focus, &:hover{
        text-decoration: none;
      }
    }
  } 
  
  .tab-content{
    h3{
      color: #393939;
      font-size: 1em;
      font-weight: 700;
      margin: 18px 0 20px 0;
      text-transform: uppercase;
    }
    
    h4{
      font-size: 1em;
      font-weight: 700;
      margin: 0;
    }
    
    p{
      font-size: 1em;
      margin: 0 0 20px;
    }
  }
  
  .icon-container i{
    left: 33px;
  }
  
  .btn{
    margin: 10px 0 30px;
    padding: 10px 0;
    width: 100%;
  }

  .direct-form .row{
    padding: 15px;
    h2{
      margin: 0 0 10px 0;
    }
  }
  
}

@media (min-width: $screen-md-min){
  #direct-structure-module{
    #conceptual-module h1{
        font-size: 1.89em;
    }
      
    .direct-form .row, .tabs .row{
      padding: 0px;      
    }
    .tabs{
      padding: 15px 0 0 0;
      ul{
        li{
          float: none;
          text-align: left;
          width: 100%;
          a{
            padding: 10px;
          }
        }
      }
      
    }
  }
}

@media (min-width: $screen-lg-min){
    #direct-structure-module{
    #conceptual-module h1{
        font-size: 2.143em;
        }
    }
    
}