@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/form";
@import "base/interna-style";

#work-structure-module{
  padding: 30px 0;
  
  #work-form-module{
  .work-form{    
    .form-group label{
      color: #a3a3a3;
      font-size: 0.786em;
      margin-left: 18px;
      text-transform: uppercase;
    }
    .icon-container i{
      left: 33px;
      margin-top: 5.5px;
    }
    textarea{
      height: 196px;
    }
    button{
      margin: 20px 0;
      padding: 10px 123px;
    }
  }
}
  
}