@import "lib/bootstrap-sass/bootstrap/variables";
@import "base/conceptual";
@import "base/form";
@import "base/info-box";
@import "base/interna-style";

#workshop-structure-module{
  padding: 30px 0;
  .icon-container i{
    left: 33px;
  }
  
  .info-box-2, .info-box-3{
    margin: 30px 0;
  }
  
  .info-box-2{
    .top-content{
      margin: 0 0 10px 0;
    }
    .title{
      h3{
        font-size: 1.1em;
        margin: 6px 0;
      }
    }
    i{
      height: 32px;
      width: 34px;
    }
    .unidade{
      margin: 0 10px;
    }
  }
  
  .info-box-3{
    .title{
      width: 200px;
    }
    i{
      height: 36px;
      width: 37px;
    }
    h3{
      font-size: 1.1em;
      margin: 0 0 15px;
    }
    .unidade{
      float: left;
      margin: 10px;
      h4{
        font-weight: 700;
        margin: 0 0 5px 0;
        text-transform: uppercase;
      }
    }
  }
  
  .workshop-info{
    ul{
      overflow: hidden;
      margin: 0 0 30px 0;
    }
  
    li{
      text-align: center;
      &.active a{
        background-color: $brand-primary;
        color: #fff;
      }
      a{
        border: 0;
        border-radius: 15px;
        color: $brand-primary;
        display: block;
        font-weight: 700;
        padding: 7px 35px;
        text-transform: uppercase;
        &:hover, &:focus{
          text-decoration: none;
        }
      }
    }
    
    .tab-content{
      h3{
        color: $brand-primary;
        font-weight: 700;
        text-transform: uppercase;
      }
      h4{
        color: #4c4c4c;
        font-weight: 700;
      }
    }
  }
  
  form button{
    margin: 10px 0 30px;
    padding: 10px 0;
    width: 100%;
  }
  
}

@media (min-width: $screen-xs-min){
  #workshop-structure-module{
    .info-box-3{
      .title{
        width: auto; 
      }
    }
  }
}

@media (min-width: $screen-sm-min){
  #workshop-structure-module{
    .info-box-2{
      .top-content{
        margin: 0;
        padding-top: 12px;
      }
    }
    
    .info-box-3{
      .title{
        width: 215px;
      }
      h3{
        margin: 0;
      }
    }
    
    .workshop-info{
      li{
        float: left;
        text-align: left;
      }
    }
    
  }
}

@media (min-width: $screen-md-min){
  
}

@media (min-width: $screen-lg-min) {
  #workshop-structure-module{    
    .info-box-3{
      .title{
        width: 260px;
      }
    }
  }
}